table {
   width: 100%;
   border: 1px solid #000;
   background: #0D628D;
}
th, td {
   background-color: #DCDEDF;
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
}



input
{
    width:250px;
    height:40px;
    border-radius:10px;
    margin-top: 100px;
    border:0px;
    background-color:#32A43E;
    font: 14px normal normal uppercase helvetica, arial, serif;
}